*,
*::before,
*::after {
  box-sizing: border-box
}


html {
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  background-color: #ffeedb;
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 1em;
}

[type="text"],
button {
  display: inline-block;
    -webkit-appearance: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #ff934b;
  color: black;
  border: 2px solid #ff934b;
  margin: 0 .5rem;
  font-weight: bold;
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #ff934b;
}

p {
  font-size: 2.2rem;
  text-align: center;

}

h1 {
  color: #000000;
  text-align: center;
  margin-bottom:  0;
  font-size: 3.5em;
}

h2 {
  color: #000000;
  text-align: center;
  margin-top: 0;
  font-stretch: extra-expanded;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1rem;
  margin-bottom: 0.2rem;
  background:  white;
  border-bottom-style: solid;
  border-radius: 4px;
  
  padding: 2px;
 
}

li span {
  display: inline-block;
  padding: .5rem;
  width: 300px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: #fff7ee;
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: #ff934b
}

[type="checkbox"] {
  margin-right: 0;
  font-size: 2rem;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
